.root {
  margin: 1em 0;
  padding: 20px;
  display: flex;
  gap: 1em;
  line-height: 32px;

  > .item {
    > a {
      display: flex;
      gap: 0.25em;
      align-items: center;

      > .icon {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &.unread {
          background-image: url("./newsmode.svg");
        }

        &.feeds {
          background-image: url("./rss.svg");
        }

        &.starred {
          background-image: url("./star.svg");
        }

        &.settings {
          background-image: url("./settings.svg");
        }

        &.search {
          background-image: url("./search.svg");
        }
      }

      > .title {
        font-weight: 600;
      }
    }
  }
}
