.root {
  margin: 1em 0;
  display: flex;
  flex-direction: column;

  &.read,
  &.removed {
    > .title {
      > a {
        color: #999;
      }
    }
    > .info {
      color: #666;

      a {
        color: #666;
      }
    }
  }

  > .title {
    display: block; // TODO(kellegous): remove this.
  }

  > .info {
    display: flex;
    gap: 0.5em;
    font-size: var(--font-size-x-small);
    color: #aaa;
    margin: 0.33em 0;

    > div {
      padding-right: 0.5em;
      border-right: 1px solid #666;
      &:last-child {
        border-right: none;
      }
    }

    a {
      color: #aaa;
    }
  }

  > .summary {
    color: #999;
    margin: 0.5em 0;

    > .hide {
      font-size: var(--font-size-x-small);
    }
  }
}
