.root {
  margin: 1em 0;
  display: flex;
  flex-direction: column;

  &.read,
  &.removed {
    > .title {
      > a {
        color: #999;
      }
    }
    > .info {
      color: #666;
    }
  }

  > .title {
    display: block; // TODO(kellegous): remove this.
  }

  > .info {
    display: flex;
    gap: 1em;
    font-size: var(--font-size-x-small);
    color: #aaa;
    margin: 0.25em 0;

    > .summarize {
      color: #aaa;
      &:hover {
        color: #fff;
      }
    }
  }

  > .summary {
    color: #999;
    margin: 0.5em 0;

    > .hide {
      font-size: var(--font-size-x-small);
    }
  }
}
